$trekFont: StarTrekBT, sans-serif;

$trekRed: #cc0c00;
$trekBlue: #5c88da;
$trekGreen: #84bd00;
$trekYellow: #ffcd00;
$trekGrey: #7c878e;
$trekBlack: #151515;
$trekAquaBlue: #00b5e2;
$trekAquaGreen: #00af66;

$navbarHeight: 48px;
