@use './theme';
@use './mixins';

@font-face {
	font-family: 'StarTrekBT';
	font-style: normal;
	font-weight: 400;
	src: url(/StarTrekBT-Regular.ttf) format('truetype');
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: lighten(theme.$trekBlack, 6%);

	/* Used in JS to calculate canvas size */
	--navbar-height: #{theme.$navbarHeight};
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.page-container {
	.trek-font { @include mixins.trek-font; }

	.trek-red { color: theme.$trekRed; }
	.trek-blue { color: theme.$trekBlue; }
	.trek-green { color: theme.$trekGreen; }
	.trek-yellow { color: theme.$trekYellow; }
	.trek-grey { color: theme.$trekGrey; }
	.trek-black { color: theme.$trekBlack; }
	.trek-aqua-blue { color: theme.$trekAquaBlue; }
	.trek-aqua-green { color: theme.$trekAquaGreen; }

	.trek-red-bg { background: theme.$trekRed; }
	.trek-blue-bg { background: theme.$trekBlue; }
	.trek-green-bg { background: theme.$trekGreen; }
	.trek-yellow-bg { background: theme.$trekYellow; }
	.trek-grey-bg { background: theme.$trekGrey; }
	.trek-black-bg { background: theme.$trekBlack; }
	.trek-aqua-blue-bg { background: theme.$trekAquaBlue; }
	.trek-aqua-green-bg { background: theme.$trekAquaGreen; }

	.text-x1_5 { font-size: 1.5em; }
	.text-x2 { font-size: 2em; }

	.full-height { min-height: 100vh; }
	.full-height-minus-nav { min-height: calc(100vh - theme.$navbarHeight); }

	.trek-headline {
		@include mixins.trek-font;
		color: theme.$trekYellow;
		font-style: italic;
		text-align: center;
	}

	.treky-link {
		@include mixins.trek-font;
		@include mixins.trek-outline;
		font-style: italic;
		color: theme.$trekYellow;
		transition: color 0.3s;

		&:hover {
			color: theme.$trekRed;
		}
	}
}
