html,
body {
	--trek-font: StarTrekBT, sans-serif;
	--trek-red: #cc0c00;
	--trek-blue: #5c88da;
	--trek-green: #84bd00;
	--trek-yellow: #ffcd00;
	--trek-grey: #7c878e;
	--trek-black: #151515;
	--trek-aqua-blue: #00b5e2;
	--trek-aqua-green: #00af66;

	--navbar-height: 48px;

	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--trek-black);
}

@font-face {
	font-family: 'StarTrekBT';
	font-style: normal;
	font-weight: 400;
	src: url(/StarTrekBT-Regular.ttf) format('truetype');
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@keyframes move-stars-bg {
	from { -webkit-transform: translate3d(0px, 0px, 0px); }
	to { -webkit-transform: translate3d(1000px, 0px, 0px); }
}

.page-container {
	@mixin trek-font {
		font-family: var(--trek-font);
		text-transform: uppercase;
	}

	@mixin trek-outline {
		-webkit-text-stroke: 1px black;
	}

	.trek-font { @include trek-font; }

	.trek-red { color: var(--trek-red); }
	.trek-blue { color: var(--trek-blue); }
	.trek-green { color: var(--trek-green); }
	.trek-yellow { color: var(--trek-yellow); }
	.trek-grey { color: var(--trek-grey); }
	.trek-black { color: var(--trek-black); }
	.trek-aqua-blue { color: var(--trek-aqua-blue); }
	.trek-aqua-green { color: var(--trek-aqua-green); }

	.trek-red-bg { background: var(--trek-red); }
	.trek-blue-bg { background: var(--trek-blue); }
	.trek-green-bg { background: var(--trek-green); }
	.trek-yellow-bg { background: var(--trek-yellow); }
	.trek-grey-bg { background: var(--trek-grey); }
	.trek-black-bg { background: var(--trek-black); }
	.trek-aqua-blue-bg { background: var(--trek-aqua-blue); }
	.trek-aqua-green-bg { background: var(--trek-aqua-green); }

	.spacer {
		height: 80px;
	}

	.treky-link {
		@include trek-font;
		@include trek-outline;
		font-style: italic;
		color: var(--trek-yellow);
		transition: color 0.3s;

		&:hover {
			color: var(--trek-red);
		}
	}

	.text-x1_5 { font-size: 1.5em; }
	.text-x2 { font-size: 2em; }

	.space-hero {
		@include trek-font;
		color: var(--trek-yellow);
		background: #ccc;
		background: black url("/stars.png") repeat;
		z-index: 1;

		width: 100%;
		height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;

		overflow: hidden;

		position: relative;

		.space-hero-twinkle {
			position: absolute;
			z-index: 2;
			width: 10000%;
			height: 100%;
			background-size: 1000px 1000px;
			background: transparent url("/twinkling.png") repeat;
			animation: move-stars-bg 70s linear infinite;
		}
	}

	.created-by {
		display: flex;
		align-items: center;
		flex-direction: column;
		z-index: 3;

		h1 {
			font-style: italic;
			font-size: 9em;
			margin: 0;
		}

		div {
			display: flex;
			width: 100%;
			align-items: flex-start;
			justify-content: flex-end;
			column-gap: 1em;
		}

		h2 {
			font-size: 5em;
			margin: 0;
			align-self: flex-end;
		}

		h3 {
			font-size: 2em;
			margin: 0;
			text-align: right;
		}
	}

	.website {
		position: absolute;
		bottom: 10px;
		margin: auto;
		text-transform: none;
		z-index: 3;
		font-size: 1.3em;

		a {
			color: var(--trek-green);

			&:hover {
				color: var(--trek-red);
			}
		}
	}

	--icars-banner-height: 35px;
	--icars-banner-inset: 20px;
	--icars-banner-overlap: 10px;
	--icars-menu-gap: 5px;
	--icars-content-bg: black;

	.icars-1 {
		background: var(--icars-content-bg);
		border-radius: var(--icars-banner-height);
	}

	.icars-menu-item {
		@include trek-font;
		margin-top: var(--icars-menu-gap);
		width: 220px;
		height: 60px;
		padding: 30px 5px 0 0;
		font-size: 1.6em;
		text-align: right;
		user-select: none;

		&:hover {
			cursor: pointer;
		}
	}

	.icars-top-1 {
		min-height: var(--icars-banner-height);
		background: var(--trek-red);
		border-top-left-radius: var(--icars-banner-height);
	}

	.icars-subtop-1 {
		min-height: var(--icars-banner-inset);
		background: var(--trek-red);
	}

	.icars-bottom-1 {
		min-height: var(--icars-banner-height);
		background: var(--trek-aqua-green);
		border-bottom-left-radius: var(--icars-banner-height);
	}

	.icars-subbottom-1 {
		min-height: var(--icars-banner-inset);
		background: var(--trek-aqua-green);
		margin-top: var(--icars-menu-gap);
	}

	.icars-2 {
		background: var(--trek-red);
		border-radius: var(--icars-banner-height);
	}

	.icars-top-2 {
		min-height: var(--icars-banner-height);
		background: var(--trek-red);
		border-top-right-radius: var(--icars-banner-inset);
	}

	.icars-subtop-2 {
		min-height: var(--icars-banner-inset);
		background: var(--icars-content-bg);
		border-top-left-radius: var(--icars-banner-overlap);
	}

	.icars-content {
		min-width: 55ch;
		height: 100%;
		color: var(--trek-grey);
		padding: var(--icars-banner-overlap) 40px;
		background: var(--icars-content-bg);
		text-transform: uppercase;
		font-weight: bold;
		font: sans-serif;
	}

	.icars-subbottom-2-wrapper {
		background: var(--trek-aqua-green);
	}

	.icars-bottom-2 {
		min-height: var(--icars-banner-height);
		background: var(--trek-aqua-green);
		border-bottom-right-radius: var(--icars-banner-inset);
	}

	.icars-subbottom-2 {
		min-height: var(--icars-banner-inset);
		background: var(--icars-content-bg);
		border-bottom-left-radius: var(--icars-banner-overlap);
	}

	span {
		color: var(--trek-grey);
		user-select: none;
		transition: color 0.3s;

		&:hover {
			cursor: pointer;
			color: var(--trek-blue);
		}

		&.selected {
			color: var(--trek-yellow);
		}
	}

	.new-game-engage {
		@include trek-font;
		font-size: 1.5em;
		margin-top: 1em;
		color: var(--trek-aqua-green);
		user-select: none;
		transition: color 0.3s;

		&:hover {
			cursor: pointer;
			color: var(--trek-red);
		}
	}
}
