@use './theme';
@use './mixins';
@use './breakpoints';

$lcarsBannerHeight: 35px;
$lcarsBannerInset: 20px;
$lcarsBannerOverlap: 10px;
$lcarsMenuGap: 5px;
$lcarsContentBg: black;
$lcarsMenuWidthMobile: 80px;

.lcars {
	@media only screen and (max-width: breakpoints.$tablet) {
		font-size: 0.8em;
	}
}

.lcars1 {
	background: $lcarsContentBg;
	border-radius: $lcarsBannerHeight;
}

.lcarsMenuItem {
	@include mixins.trek-font;

	margin-top: $lcarsMenuGap;
	width: 220px;
	height: 60px;
	padding: 30px 5px 0 0;
	font-size: 1.6em;
	text-align: right;
	user-select: none;

	@media only screen and (max-width: breakpoints.$desktop) {
		width: 160px;
		height: 100px;
		padding: 50px 5px 0 0;
	}

	@media only screen and (max-width: breakpoints.$midTablet) {
		width: 120px;
		height: 100px;
		padding: 50px 5px 0 0;
	}

	@media only screen and (max-width: breakpoints.$tablet) {
		width: $lcarsMenuWidthMobile;
	}

	&:hover {
		cursor: pointer;
	}
}

.lcarsTop1 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekRed;
	border-top-left-radius: $lcarsBannerHeight;
}

.lcarsSubtop1 {
	min-height: $lcarsBannerInset;
	background: theme.$trekRed;
}

.lcarsBottom1 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekAquaGreen;
	border-bottom-left-radius: $lcarsBannerHeight;
}

.lcarsSubbottom1 {
	min-height: $lcarsBannerInset;
	background: theme.$trekAquaGreen;
	margin-top: $lcarsMenuGap;
}

.lcars2 {
	background: theme.$trekRed;
	border-radius: $lcarsBannerHeight;
}

.lcarsTop2 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekRed;
	border-top-right-radius: $lcarsBannerInset;
}

.lcarsSubtop2 {
	min-height: $lcarsBannerInset;
	background: $lcarsContentBg;
	border-top-left-radius: $lcarsBannerOverlap;
}

.lcarsContent {
	min-width: 55ch;
	padding: $lcarsBannerOverlap 40px;

	@media only screen and (max-width: breakpoints.$desktop) {
		min-width: 35ch;
		padding: $lcarsBannerOverlap 25px;
	}

	@media only screen and (max-width: breakpoints.$midTablet) {
		min-width: 25ch;
		padding: $lcarsBannerOverlap 10px;
	}

	@media only screen and (max-width: breakpoints.$tablet) {
		min-width: 21ch;
		max-width: 21ch;
	}

	height: 100%;
	color: theme.$trekGrey;
	background: $lcarsContentBg;
	text-transform: uppercase;
	font-weight: bold;
	font: sans-serif;

	span {
		color: theme.$trekGrey;
		user-select: none;
		transition: color 0.3s;

		&:hover {
			cursor: pointer;
			color: theme.$trekBlue;
		}

		&.selected {
			color: theme.$trekYellow;
		}
	}
}

.lcarsSubbottom2Wrapper {
	background: theme.$trekAquaGreen;
}

.lcarsBottom2 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekAquaGreen;
	border-bottom-right-radius: $lcarsBannerInset;
}

.lcarsSubbottom2 {
	min-height: $lcarsBannerInset;
	background: $lcarsContentBg;
	border-bottom-left-radius: $lcarsBannerOverlap;
}

.lcarsNotch {
	width: $lcarsMenuGap;
	height: $lcarsBannerHeight;
	background: $lcarsContentBg;
	margin-left: 60px;

	@media only screen and (max-width: breakpoints.$desktop) {
		margin-left: 30px;
	}
}

.timeControls {
	flex-direction: row;
	margin-top: 1em;

	@media only screen and (max-width: breakpoints.$desktop) {
		flex-direction: column;

		span {
			margin-top: -1.4em;
		}
	}
}

.engage {
	@include mixins.trek-font;
	font-size: 1.5em;
	margin-top: 0.5em;
	color: theme.$trekAquaGreen;
	user-select: none;
	transition: color 0.3s;

	&:hover {
		cursor: pointer;
		color: theme.$trekRed;
	}
}
