@use './theme';
@use './mixins';

$lcarsBannerHeight: 35px;
$lcarsBannerInset: 20px;
$lcarsBannerOverlap: 10px;
$lcarsMenuGap: 5px;
$lcarsContentBg: black;

.lcars1 {
	background: $lcarsContentBg;
	border-radius: $lcarsBannerHeight;
}

.lcarsMenuItem {
	@include mixins.trek-font;

	margin-top: $lcarsMenuGap;
	width: 220px;
	height: 60px;
	padding: 30px 5px 0 0;
	font-size: 1.6em;
	text-align: right;
	user-select: none;

	&:hover {
		cursor: pointer;
	}
}

.lcarsTop1 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekRed;
	border-top-left-radius: $lcarsBannerHeight;
}

.lcarsSubtop1 {
	min-height: $lcarsBannerInset;
	background: theme.$trekRed;
}

.lcarsBottom1 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekAquaGreen;
	border-bottom-left-radius: $lcarsBannerHeight;
}

.lcarsSubbottom1 {
	min-height: $lcarsBannerInset;
	background: theme.$trekAquaGreen;
	margin-top: $lcarsMenuGap;
}

.lcars2 {
	background: theme.$trekRed;
	border-radius: $lcarsBannerHeight;
}

.lcarsTop2 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekRed;
	border-top-right-radius: $lcarsBannerInset;
}

.lcarsSubtop2 {
	min-height: $lcarsBannerInset;
	background: $lcarsContentBg;
	border-top-left-radius: $lcarsBannerOverlap;
}

.lcarsContent {
	min-width: 55ch;
	height: 100%;
	color: theme.$trekGrey;
	padding: $lcarsBannerOverlap 40px;
	background: $lcarsContentBg;
	text-transform: uppercase;
	font-weight: bold;
	font: sans-serif;

	span {
		color: theme.$trekGrey;
		user-select: none;
		transition: color 0.3s;

		&:hover {
			cursor: pointer;
			color: theme.$trekBlue;
		}

		&.selected {
			color: theme.$trekYellow;
		}
	}
}

.lcarsSubbottom2Wrapper {
	background: theme.$trekAquaGreen;
}

.lcarsBottom2 {
	min-height: $lcarsBannerHeight;
	background: theme.$trekAquaGreen;
	border-bottom-right-radius: $lcarsBannerInset;
}

.lcarsSubbottom2 {
	min-height: $lcarsBannerInset;
	background: $lcarsContentBg;
	border-bottom-left-radius: $lcarsBannerOverlap;
}

.lcarsNotch {
	width: 6px;
	height: $lcarsBannerHeight;
	background: $lcarsContentBg;
	margin-left: 60px;
}

.engage {
	@include mixins.trek-font;
	font-size: 1.5em;
	margin-top: 1em;
	color: theme.$trekAquaGreen;
	user-select: none;
	transition: color 0.3s;

	&:hover {
		cursor: pointer;
		color: theme.$trekRed;
	}
}
