@use './theme';
@use './mixins';
@use './breakpoints';

@keyframes move-stars-bg {
	from { -webkit-transform: translate3d(0px, 0px, 0px); }
	to { -webkit-transform: translate3d(1000px, 0px, 0px); }
}

.spaceHero {
	@include mixins.trek-font;
	color: theme.$trekYellow;
	background: #ccc;
	background: black url("/stars.png") repeat;
	z-index: 1;

	width: 100%;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;

	position: relative;

	.spaceHeroTwinkle {
		position: absolute;
		z-index: 2;
		width: 10000%;
		height: 100%;
		background-size: 1000px 1000px;
		background: transparent url("/twinkling.png") repeat;
		animation: move-stars-bg 70s linear infinite;
	}
}

.createdBy {
	@media only screen and (max-width: breakpoints.$desktop) {
		font-size: 0.6em;
	}

	@media only screen and (max-width: breakpoints.$tablet) {
		font-size: 0.3em;
	}

	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 3;

	h1 {
		font-style: italic;
		font-size: 9em;
		margin: 0;
	}

	div {
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: flex-end;
		column-gap: 1em;
	}

	h2 {
		font-size: 5em;
		margin: 0;
		align-self: flex-end;
	}

	h3 {
		font-size: 2em;
		margin: 0;
		text-align: right;
	}
}

.website {
	position: absolute;
	bottom: 10px;
	margin: auto;
	text-transform: none;
	z-index: 3;
	font-size: 1.3em;

	a {
		color: theme.$trekGreen;

		&:hover {
			color: theme.$trekRed;
		}
	}
}
